.ranking-item {
    width: 100%;
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: black;
}


.movie-title {
    font-family: "Helvetica", -apple-system, BlinkMacSystemFont, serif;
    font-size: 24px;
}



/* Reverse Color

body {
    background-color: #333333;
}
.main {
    background-color: #333333;
}

.page-center {
    box-shadow: 0 0 0 0;
}

.navigate-bar {
    background-color: #333333;
}

.navigate-tab p {
    color: white;
    background-color: #333333;
    padding: 5px 10px;
    margin-bottom: 0;
} */

