body {
    background-color: #eeeeee;
    /* min-height: 100%; */
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
}

.page-center {
    background-color: white;
    box-shadow: 0px 0px 10px #aaaaaa;
}

.caption {
    color: #555555
}

.navigate-bar {
    /* background-color: white; */
    align-items: stretch;
}

.navigate-tab {
    padding: 0 10px;
}

.navigate-tab p {
    color: white;
    background-color: #333333;
    padding: 5px 10px;
    margin-bottom: 0;
    box-shadow: 0px 0px 0px 2px #333333;
}

.activate-tab p {
    color: black;
    background-color: white;
    /* box-shadow: 0px 0px 10px #aaaaaa; */ /* shadow style */
    /* clip-path: inset(-10px -10px 0px -10px); */ /* shadow style */
}

.main {
    /* box-shadow: 0px 0px 10px #aaaaaa; */ /* shadow style */
    padding-top: 30px;
}

.max-width-img {
    max-width: 100%;
}