.App {
  background-color: #eeeeee;
  /* min-height: 100%; */
  height: 100%;
}

.page-center {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #aaaaaa;
}

.caption {
  color: #555555
}

.main {
  /* box-shadow: 0px 0px 10px #aaaaaa; */ /* shadow style */
  padding-top: 30px;
}

.max-width-img {
  max-width: 100%;
}

.whitespace {
  height: 48px;
}

h1 .title {
  font-family: "Helvetica";
  font-weight: bold;
}

#gototop {
  position: fixed; 
  background-color: white;
  padding: 10px;
  bottom: 30px; 
  right: 30px;
  z-index: 2; 
  /* font-size: 18px; */
  box-shadow: 0px 0px 10px #aaaaaa;
}

#overlay {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 90;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  background-color: rgba(0,0,0,.8);
}

#overlay img {
  max-width: 100%;
  max-height: 100%;    
}

.hidden {
  visibility: hidden;
}

.visible {
}
