.poster-container {
    display: flex;
    width: 240px;
    height: 360px;
}

.poster {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.poster-container :hover {
    opacity: 0.6;
}

#movie-overlay {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 90;
    overflow: hidden;
    background-color: rgba(0,0,0,.9);

    /* border: 2px black sloid; */
    color: white;
    
    display: flex;
    flex-direction: column;
}

.overlay-poster {
    height: 70vh;
}

.overlay-center {
    backdrop-filter: blur(8px);
    padding: 5vh;
    background-color: rgba(255,255,255,.1);
}

.panel {
    /* background-color: #aaaaaa; */
    
}

/* patch for dark stars */
.ui.star.rating .icon {
    color: #111 !important;
    text-shadow: 0 -1px 0 #ddc507,-1px 0 0 #ddc507,0 1px 0 #ddc507,1px 0 0 #ddc507!important;
}


/* patch up for lables */
.ui.label {
    font-weight: 400 !important;
}

